{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ product.title }}
{% endblock %}
{% block content %}
    <section>
        <!-- Container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="after"></div>
                            <model-viewer class="w-100" style="background: #fff" alt="dastan" src="{{ product.gLTF.url }}" ar ios-src="{{ product.gLTF.url }}" camera-controls camera-orbit="200deg 70deg 20m"></model-viewer>
                    </div>
                </div>
                <div class="product-detail_right col-md-5">
                    <h6 class="title mb-3">{{ product.title }}</h6>
                    <p class="text-muted">{{ product.mini_title }}</p>
                    <h7>Высота: {{ product.height }}</h7>
                    <p></p>
                    <h7>Ширина: {{ product.width }}</h7>
                    <p></p>
                    <h7>Длина: {{ product.length }}</h7>
                    <p></p>
                    <h4>Цена: {{ product.price }}</h4>

                </div>
            </div>
            <!-- End of Row -->
        </div>
        <!-- End of Container -->
    </section><!-- End of Section -->

    <!-- section -->
    <section>
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-between align-items-center">

                <div class="col-md-5">
                    <table class="table table-borderless v-align-center">
                        <tbody>


                     </tbody>
                  </table>
                </div>


                </div>
                <div class="col-md-6">
                    <table class="table table-borderless v-align-center">

         <tbody>

            <tr>
               <td>
                  <span class="h6">Описание:</span>
               </td>
               <td class="w-75"><p>{{ product.description }}</p></td>
            </tr>
         <tr>
               <td>
                  <span class="h6">Цена:</span>
               </td>
               <td class="w-75"><p>{{ product.price }}</p></td>

         </tbody>
                    </table>
                </div>
            </div><!-- End of Row -->
        </div><!-- End of Container-->
    </section><!-- End of Section -->
    <section>
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-between align-items-center">
                {% for i in images %}
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="after right"></div>
                        <img src="{{ i.image.url }}" class="w-100" alt="About Us">
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="after"></div>
                            <img src="{{ product.image.url }}" class="w-100" alt="About Us">
                        </div>
                    </div>
                </div><!-- End of Row -->
            </div><!-- End of Container-->
        </section><!-- End of Section -->
<!--<section id="contact" class="text-center">-->
<!--        &lt;!&ndash; container &ndash;&gt;-->
<!--        <div class="container">-->
<!--            <h1>Заказать этот продукт</h1>-->
<!--            <p class="mb-5">Дети достойны лучших игровых площадок. Напишите нам по WhatsApp или позвонив по +996 558 602 334, <br>-->
<!--             и мы с радостью проконсультируем Вас! К каждому клиенту относимся индивидуально!</p>-->

<!--            &lt;!&ndash; Contact form &ndash;&gt;-->
<!--            <form class="contact-form col-md-11 col-lg-9 mx-auto" method=POST action="">-->
<!--                <div class="form-row">-->
<!--                    <div class="col form-group">-->
<!--                        {% csrf_token %}-->
<!--                        {{ form.name }}-->
<!--                    </div>-->
<!--                    <div class="col form-group">-->
<!--                        {{ form.email }}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col form-group">-->
<!--                        {{ form.phone }}-->
<!--                </div>-->
<!--                <div class="col form-group">-->
<!--                    {{ form.text }}-->
<!--                </div>-->
<!--                <div class="col form-group">-->
<!--                    {{ form.grunt }}-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="submit" class="btn btn-primary btn-block" value="Заказать">-->
<!--                </div>-->
<!--            </form>&lt;!&ndash; End of Contact form &ndash;&gt;-->
<!--        </div>&lt;!&ndash; End of Container&ndash;&gt;-->
<!--    </section>&lt;!&ndash; End of Contact Section &ndash;&gt;-->


{% endblock %}